.navigation {

  display: flex;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  align-items: center;
  justify-content: space-between;
  font-size: larger;
  position: fixed;
  

  
}

.tweeter {
  font-family: 'Bungee', sans-serif;
  
}



.tweet-btn-container{

  font-family: 'Source Sans 3', sans-serif ;
  align-items: center; 
   padding-left: 1.5em;
  padding-right: 1.5em;

}

#arrowDown {
  display: flex;
  justify-content: center;
}
