
.new-tweet {
  
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1.5em;
  color: #545149;

}

.compose-tweet {
 
  border-bottom: 5px solid #545149;
  
}

#tweet-text {
  
  width: 100%;
  color: #545149;
  background-color: inherit;
  border: none;
  font-size: medium;

  
}

.submit-tweet {
  display: flex;
  font-family: 'Bungee', sans-serif;
   align-items: center;
  justify-content: space-between;
  padding-top: 0.3em;
  padding: 0.5em;
  
}

.submitButton {

  background-color: #4056A1;
  color: #FFFFFF;
  border: none;
  padding: 0.3em
  
 
}


.submitButton:hover {
  background-color: #7553e6; /* darker green on hover */
  color: #e0f0e9;
  
}

form {

  margin-bottom: 20px;
}

